/* Reset some default styles */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

/* Basic styling for the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Styling for the login form */
.login-form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.checkbox-group label {
    margin-right: 10px;
    font-weight: normal;
}

.forgot-password {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel {
    background-color: #ccc;
}

/* Styling for the profile image */
.profile-image {
    position: relative;
    top: -245px;
    left: 220px;
    width: 100px;
    height: 100px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
